/*
    COLOURS
    #7ed56f
    #55c57a
    #28b485
*/

$primary__color: #7ed56f;
$primary__color__light:#55c57a;
$primary__color__dark:#28b485;
$color__white: #ffffff;
$color__gray:#777777;
$color__gray_light-1: #f7f7f7;
$color__gray_light-2: #eeeeee;
$color__gray_dark:#999999;
$color__black: #000000;

$color__secondary-light:#ffb900;
$color__secondary-dark:#ff7730;

$color__tertiary-light:#2998ff;
$color__tertiary-dark:#5649fa;


$default-font-size: 1.6rem;



// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;